.introduction {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-inline: 60px;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  overflow: hidden;
  will-change: transform;
  // TODO: Add a better color instead of just the background to make it pop more
  background-color: hsl(var(--background));
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 300px);
    min-height: calc(100vh + 300px);
    pointer-events: none;
    will-change: auto;
    path {
      fill: hsl(var(--background));
    }
  }
  p {
    display: flex;
    color: hsl(var(--foreground));
    font-size: 72px;
    align-items: center;
    position: absolute;
    z-index: 1;
  }
}